<form action="<%= if @cat.persisted?
										cat_url(@cat)
									else
										cats_url
									end %>" method="post" accept-charset="utf-8">

	<%'<input type = "hidden" name="_method" value = "patch">' if @cat.persisted? %>

	<label for="name">Name</label>
	<input type="text" name="cat[name]" id="name" value= "<%= @cat.name %>" />

	<label for="age">Age</label>
	<input type="text" name="cat[age]" id="age" value= "<%= @cat.age %>"/>

	<label for="male">Male</label>
	<input type="radio" name="cat[sex]" value="m" id="male"
	<%= "checked" if @cat.sex == "m" %> />
	<label for= "female">Female</label>
	<input type="radio" name="cat[sex]" value="f" id="female"
	<%= "checked" if @cat.sex == "f" %>/>

	<select name= "cat[color]" >
		<option type="hidden"></option>
		<% colors = ['black', 'blue', 'brown', 'tan', 'orange']%>
		<% colors.each do |color|%>
		<option <%= "selected" if @cat.color == color %>><%= color %></option>
		<%end%>
	<select>

	<label for="cat_birth_date">Birth date</label>
	<input name="cat[birthdate]" id="cat_birth_date" type="date"
	value="<%= @cat.birthdate %>"></input>


	<p><input type="submit"></p>


</form>