<table>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Sex</th>
		<th>Color</th>
		<th>Birthdate</th>
	</tr>
	<tr>
		<td><%= @cat.name %></td>
		<td><%= @cat.age %></td>
		<td><%= @cat.sex %></td>
		<td><%= @cat.color %></td>
		<td><%= @cat.birthdate%></td>
	</tr>
</table>

<ul>
<% @cat.cat_rental_requests.order(:start_date).each do |rental| %>
	<li>
		<%= "#{rental.start_date} to #{rental.end_date}:  #{rental.status}"%>
		<% if rental.status == 'PENDING'%>
		<%= button_to "approve", cat_rental_request_approve_url(rental), method: :patch%>
		<%= button_to "deny", cat_rental_request_deny_url(rental), method: :patch%>
		<%end %>
	</li>
<% end %>
</ul>